<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/Dates.css">
</head>
<body>
    
     <div class="dt">
         <form action="/ad/resdt" method="post">
            <input type="date"  name="resDT">
            <button>View Reservation</button>
         </form>
     </div>

</body>
</html>