<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <form action="/auth/customer" method="post">
        <h1><%= title %></h1>
        <div class="container">
            <div class="name">
                <label for="">FullName:</label><br>
                <input type="text" placeholder="FullName" name="f_nm">
            </div>
            <div class="res_num">
                <label for=""> Reservation Number:</label><br>
                <input type="text" placeholder="Reservation Number" name="resNum">
            </div>
            <div class="sub_btn">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
    
</body>
</html>