@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Rock+Salt&family=Tangerine:wght@400;700&display=swap');

table{
    margin: auto;
    width: 1200px;
    margin-top: 100px;
    /* border: 1px solid #4040a1; */
}

caption{
    letter-spacing: 2px;  
    font-size: 40px;
    color: #4040a1;
}

th, td{
    height: 40px;
    text-align: center;
    /* border: 1px solid #4040a1; */
}

th{
    font-size: 22px;
    border: 1px solid #4040a1;
    border-radius: 6px;
    border-left: none;
    border-right: none;
}

td{
    font-size: 20px;
    height: 55px;
}

.btn{
    text-align: center;
}

.btn button{
    border: 1px solid #4040a1;
    background-color: #4040a1;
    padding: 3px;
    width: 100px;
    border-radius: 5px;
}

.btn button a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.logout{
    margin-top: 20px;
    margin-right: 90px;
}

.logout button{
    padding: 5px;
    border: 1px solid #4040a1 ;
    border-radius: 5px;
    background-color: #4040a1;
    float: right;
}

.logout button a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}


